$bluegrays : (bluegray-100: var(--bluegray-100),
  bluegray-200: var(--bluegray-200),
  bluegray-300: var(--bluegray-300),
  bluegray-400: var(--bluegray-400),
  bluegray-500: var(--bluegray-500),
  bluegray-600: var(--bluegray-600),
  bluegray-700: var(--bluegray-700),
  bluegray-800: var(--bluegray-800),
  bluegray-900: var(--bluegray-900),
  blue: var(--blue),
);

@each $name, $value in $bluegrays {

  .bg-#{''+$name} {
    background-color: $value !important;
  }

  .link-#{''+$name},
  .text-#{''+$name} {
    color: $value !important;
  }

  .border-#{''+$name} {
    border-color: $value !important;
  }

}

.fs-sm {
  font-size: 0.875rem;
}