:root {

  // color 
  --bluegray100: #CFD8DC;
  --bluegray200: #B0BEC5;
  --bluegray300: #90A4AE;
  --bluegray400: #78909C;
  --bluegray500: #607D8B;
  --bluegray600: #546E7A;
  --bluegray700: #455A65;
  --bluegray800: #37474F;
  --bluegray900: #263238;

  --blue: #00b3ff;

}