:root {
  // color
  --bluegray-100: #cfd8dc;
  --bluegray-200: #b0bec5;
  --bluegray-300: #90a4ae;
  --bluegray-400: #78909c;
  --bluegray-500: #607d8b;
  --bluegray-600: #546e7a;
  --bluegray-700: #455a65;
  --bluegray-800: #37474f;
  --bluegray-900: #263238;

  --blue: #00b3ff;
}
